*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    transition: 0.2s;
}
.parent{
    width: 100%;
    height: 100%;
}
.parent .head{
    width: 100%;
    height: 100vh;
    background-image: url(imagesdeep/checkout/MAIN-SEC.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.parent .form{
    width: 100%;
    height: 100%;
}
.parent .form .h2{
    margin-left: 100px;
}
.parent .form .total{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.parent .form .total .detail{
    margin-top: 10px;
    width: 40%;
    height: 400px;
}
.parent .form .total .detail input{
    padding: 10px 15px;
}
.parent .form .name{ 
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.parent .form .state{
   margin-left: 43px;
   height: 70px;
}
.parent .form .address{
    height: 70px;
}
.parent .form .address h5{
    margin-left: 43px;
}
.parent .form .address .input{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.parent .form .citcode{
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.parent .form .phomail{
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.parent .form .checkbox{
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.parent .form .total .money{
    width: 40%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.parent .form .total .money .cart{
    width: 80%;
    height: 140px;
    text-align: center;
    border: 1px solid black;
}
.parent .form .total .money .cart h4{
    height: 25px;
}
.parent .form .total .money .cart pre{
    height: 25px;
}
.parent .form .total .money .method{
    width: 80%;
    height: 220px;
    border: 1px solid black;
}
.parent .form .total .money .method h4{
    width: 100%;
    height: 40px;
    font-size: larger;
    margin-top: 10px;
}
.parent .form .total .money .method input{
    margin-left: 20px;
    margin-top: 10px;
}
.parent .form .total .money .method button{
    width: 80%;
    height: 30px;
    border-radius: 30px;
    background-color: green;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}














*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.sec5{
    height: 105vh;
    width: 100%;
    /* border: 1px solid brown; */
    padding: 15px 13%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    
}
.sec5 .left{
    height: 90%;
    width: 60%;
    /* border: 1px solid brown; */
    padding: 5px 5px;
}

.sec5 .left h1{
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.sec5 .left .firstline{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 20px;


    height: 70px;
    width: 100%;
    /* border: 1px solid brown; */
}
.sec5 .left .firstline label{
    position: absolute;
    transform: translate(0px, -10px);
    font-size: 14px;
    margin-left: 20px;

}
.sec5 .left .firstline select{
    
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 95%;
    height: auto;
    padding: 15px 15px;
    border: 1px solid lightgrey;
    margin-left: 20px;
    color: lightgrey;

}
.sec5 .left .firstline input{
    
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 45%;
    height: auto;
    padding: 15px 15px;
    border: 1px solid lightgrey;
    margin-left: 20px;
    

}
.sec5 .left input::placeholder{
    color: lightgrey;
}
.sec5 .left input:focus{
    outline: 1px solid green;
    border: 1px solid green;
}
.sec5 .left .firstline2{
    /* border: 1px solid brown; */
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.sec5 .left .firstline2 label{
    margin-right: 30px;
}







.sec5 .right{
    height: 90%;
    width: 40%;
    /* border: 1px solid brown; */
    margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.sec5 .right .upper{
    height: 40%;
    width: 98%;
    border: 1px solid lightgrey;
    padding-left: 20px;
}

.sec5 .right .upper .total h3{
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sec5 .right .upper .total hr{
   width: 90%;
   margin-top: 10px;
}

.sec5 .right .upper .total p{
   margin: 5px 0px;
   font-size: 14px;
   color: grey  ;
}
.sec5 .right .upper .total p span{
   margin-left: 50px;
}

.sec5 .right .upper .total p:nth-child(1){
    margin-top: 25px;
}
.sec5 .right .lower{
    height: 55%;
    width: 98%;
    border: 1px solid lightgrey;
}
.sec5 .right .lower {
    padding-left: 20px;
}
.sec5 .right .lower h1{
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}
.sec5 .right .lower label, .sec5 .right .lower input{
    margin-bottom: 20px;
    font-size: 15px;
    color: grey;
}
.sec5 .right .lower input {
    margin-right: 10px;
}
.sec5 .right .lower .placeorder{
    padding: 10px 20px;
    width: 90%;
    border-radius: 20px;
    background-color: green;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 5px 10px rgba(0, 128, 0, 0.37);
}